body{
    background-color: rgb(228, 241, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}
html{
    display: flex;
    align-items: center;
    justify-content: center;
}